body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  background-color: white;
  padding-top: 80px;
}

header,
footer {
  position: fixed;
  text-align: center;
  width: 100%;
  background-color: lightgrey;
  color: black;
  z-index: 999;
}
header {
  top: 0;
  font-size: 1.5em;
  height: 74px;
  padding: 4px;
  border-bottom: 1px solid black;
}
footer {
  bottom: 0;
  height: 18px;
  font-size: 10px;
  border-top: 1px solid black;
  padding-top: 4px;
}
