.left {
  float: left;
  height: 74px;
}

.right {
  float: right;
}

.navigator {
  margin-top: 24px;
  margin-right: 24px;
}

.container {
  width: 96%;
  padding: 12px;
  text-align: center;
  margin: 50px auto;
}

.input-form {
  width: 50%;
  margin: 24px auto;
}

.buttons {
  margin: 0px auto;
  width: 60%;
  height: 25px;
  padding: 10px 20px;
  border-top: 1px solid black;
}

.msg {
  color: red;
  font-size: 10px;
}

.input-field {
  text-align: left;
  float: right;
}

.label {
  margin: 0px;
  height: 50px;
  vertical-align: top;
  float: left;
}

.fields {
  width: 50%;
  height: 50px;
  margin: 0 auto;
}
